@import "utilities/variables";

.button  {
  display:inline-block;
  border:1px solid $base-blue;
  color:$base-blue;
  padding:15px 30px;
  text-align:center;
  text-decoration:none;
  cursor:pointer;
  transition:all .5s ease-out;
  -webkit-transition:all .5s ease-out;
  background:linear-gradient(to right, $light-blue 50%, transparent 50%);
  background-position: right bottom;
  background-size: 200% 100%;

  &:hover {
    background-position: left bottom;
    color: $dark-black;
  }
}

.btn-primary  {
  border-radius: 5px;
}

.btn-rounded  {
  border-radius: 30px;
}

.btn-outlined  {
  border-width: 3px;
  border-style: solid;
  transition: all 0.5s;

  &:hover {
    background-position: left bottom;
    color: $dark-black;
  }
}

.gradient-black {
  background: $base-black !important;
}

.black-btn  {
  border-color: $base-black;
  color: $base-black;

  &:hover {
    background-color: $base-black;
  }
}

button:disabled  {
  box-shadow: unset;
  opacity: .8;
  background: #c1c1c1;
  color: #fff;
  border: unset;

  &:hover  {
    box-shadow: unset;
    background: #c1c1c1;
  }
}
