/* ----------------------------------------------------
Stylesheet for http://www.portofolio.com

Created: 21/08/2018
Author: Dina Setiana

------------------------------------------------------- 
: Variable : 

: Table Of Contents :
Resets
Defaults
Layout
Links
Menus
Global Classes
Animations
Components
Content
  Home
  About
  Skills
  Work
  Contact
---------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

/* : Variable : */

$font-stack: 'Open Sans', sans-serif;
$bg-color: #1B1B1B;
$fw-bold: 600;
$text-light: #DFE6E9;

$white: #DFE6E9;
$black: #141414;
$light-black: #1B1B1B;
$blue: #00CEC9;
$light-blue: #81ECEC;
$orange:#FDCB6E;

/* -------------------- Resets --------------------- */
@import 'reset';

/* ------------------- Defaults ------------------- */
html, body{
   width:100%;
   height:100%;
   padding: 0;
   margin: 0;
   background-color:$bg-color;
   font-family: $font-stack;
   color:$text-light;
   font-weight:400;
}

/* ------------------ Typography ------------------- */
h1, h2, h3, h4, h5, h6, p {
  margin:0 0 1em;
}

p, ul, ol {
  font-size:1em;
}

ul {
  /*margin:0 0 1em 25px;*/
  list-style:none;
  padding:0;
}

h1 { font-size:1.6em; }
h2 { font-size:1.5em; }
h3 { font-size:1.4em; }
h4 { font-size:1.3em; }
h5 { font-size:1.2em; }
h6 { font-size:1.1em; }

/* -------------------- Forms ---------------------- */
fieldset {
  border:none;
}

form :focus {
  outline:0; /* removes Safari's blue border */
}

input, select, textarea {
  font-size:1em;
  font-family:$font-stack;
}

label {
  cursor:pointer;
  vertical-align:middle;
}

input {
  vertical-align:middle;
}

textarea { 
  overflow:auto; /* removes scrollbar from IE when none is needed */
}

/* -------------------- Layout --------------------- */

/*-----------------------------------------------------
  - CSS Grid layout for wider screens
  - Browser supports grid:
-----------------------------------------------------*/
#header {
  // background-color: blue;
}

#main {
  overflow: auto;
}

@supports (display:grid) {
  .container {
    display:grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns:1fr;
    grid-template-rows:0.1fr 1fr 0.08fr;
    grid-template-areas:
      "header"
      "main"
      "navbar";
    grid-gap:0;
  }

  #header {
    grid-area:header;
  }

  #main {
    grid-area:main;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-areas:"mainleft mainright";
    grid-gap:0;
    min-height:0;  /* NEW */
    min-width:0;
  }

  #navbar {
    grid-area:navbar;
  }

  .content-left {
    grid-area:mainleft;
    min-width:0;
    overflow:hidden;
  }

  .content-right {
    grid-area:mainright;
  }
}

/* ------------------- Links ---------------------- */
a {
  text-decoration:underline;
  color:$text-light;
  outline:0; /* removes dotted border */
}

// a:visited {
//   color:#000;
// }

a:hover, a:focus, a:active {
  text-decoration:none;
/* add-custom:outline-rule-here; */
}

/* --------------------- Menus -------------------- */
/* Navbar Menu */
#navbar {
  display:flex;
  background-color:$black;
}

#navbar a {
  font-weight:$fw-bold;
  display:flex;
  flex:1;
  border-top:3px solid $white;
  align-items:center;
  justify-content:center;
  text-decoration:none;
  width:100%;
  transition:all 1s ease-out;
  -webkit-transition:all 1s ease-out;

}

#navbar a:hover, #navbar a:focus, #navbar a:active {
  transition: .5s background-color;
  background:black;
}

#navbar > .exact-active {
  background:black;
  border-top:3px solid $blue;
  transition:all 1s ease-out;
  -webkit-transition:all 1s ease-out;
}



/* Header Menu */
#header {
}

#header a {
  text-decoration:none;
}

/* ------------------ Animations ----------------- */
%fade-in-animation {
  animation: fadeIn 2s;
  animation-delay: 1.5s;
  opacity:0;
}

%fade-out-animation {
  animation: fadeOut 1s;
}

@keyframes fadeOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50px);
    opacity:0;
  }
}

@keyframes fadeIn {
  from {
    transform:translateX(-50px);
    opacity:0;
  }
  to {
    transform:translateX(0);
    opacity:1;
  }
}

.router-anim-enter-active {
  @extend %fade-in-animation;
}

.router-anim-leave-active {
  @extend %fade-out-animation;
}



/* ---------------- Global Classes --------------- */
.clear {
  clear:both;
  line-height:0;
  height:0;
  font-size:0;
}

.clearfix:after {
  content:" "; 
  display:block; 
  height:0;
  font-size:0; 
  clear:both; 
  visibility:hidden;
}

.clearfix {display:inline-block;}
/* mac hide \*/
* html .clearfix {height:1%;}
.clearfix {display:block;}
/* End hide */

.pos-bottom {
  position:absolute;
  bottom:0;
  left:0;
}

/* ------------------ Components ----------------- */
.button {
  display:inline-block;
  border:1px solid $blue;
  color:$blue;
  padding:15px 30px;
  text-align:center;
  text-decoration:none;
  cursor:pointer;
  transition:all .5s ease-out;
  -webkit-transition:all .5s ease-out;
  background:linear-gradient(to right, $light-blue 50%, transparent 50%);
  background-position: right bottom;
  background-size: 200% 100%;
}

.button:hover {
  background-position: left bottom; 
  color: $black;
}

/* ------------------- Content ------------------- */
div[class^="content"] {
  margin:3em 5em;
}

.content-right {
  position:relative;
}

.page-title {
  font-size:3vw;
  color:$light-blue;
}

/* -------------------- Home --------------------- */

